#skills {
    padding: 2rem;
    margin: 1rem 0;
    border-bottom: 2px solid $primary-color;
    border-radius: 8px;
    background-color: #fff;

    h2 {
        border-bottom: 2px solid $primary-color;
        padding-bottom: 0.5rem;
        color: $primary-color;
    }

    .skills-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .skill {
            text-align: center;
            margin: 1rem;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                background-color: #fff; /* Fond blanc */
                padding: 10px; /* Pour l'espace entre l'image et le bord */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour l'effet de profondeur */
            }

            p {
                margin-top: 0.5rem;
                color: $secondary-color;
            }
        }
    }
}
