$primary-color: #6a1b9a; // Couleur principale (lilas foncé)
$secondary-color: #000000; // Couleur secondaire (noir pour le texte)
$background-color: #ffffff; // Couleur de fond (blanc)
$accent-color: #ff5722; // Couleur d'accent (orange pour les liens et boutons)
